// git
// .ude-btnWhite{
//     @include styleButton($color-white-0,$color-gray-6,$pd-1 + 1,$pd-1 + 2, $border-radius);
//     @include styleText($color-gray-4,$fs-0,$fw-bold-1);

//     //hover
//     &:hover{
//         @include styleText($color-black-0,$fs-0,$fw-bold-1);
//         @include styleButton($color-white-0,$color-gray-4,$pd-1 + 1,$pd-1 + 2, $border-radius);
//     }
// }
// .ude-btnRed{
//     @include styleButton($color-red-0,$color-red-0,$pd-1 + 1,$pd-1 + 2, $border-radius);
//     @include styleText($color-white-0,$fs-0,$fw-bold-1);

//     //hover
//     &:hover{
//         @include styleButtonHover($color-red-2,$color-white-0,$color-red-2);
//     }
// }
