//thêm style các loại chữ trong trang 
@mixin styleText($color,$fs,$fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleButton($bg-color,$border-color,$pd-y,$pd-x,$radius){
    background-color: $bg-color;
    border: 1px solid $border-color;
    padding: $pd-y $pd-x;
    border-radius: $radius;
    transition: 0.5s;
}

@mixin styleButtonHover($bg-color,$color,$bd-color) {
    background-color: $bg-color;
    color: $color;
    border-color: $bd-color;
}

@mixin reponsive($screen) {
    //lấy giá trị dựa vào tên màn hình 
    // Kiểm tra tên màn hình có hợp lệ không => kiểm tra tên có tồn tại trong biến $breakpoints
    @if(map-has-key($map: $breakpoints, $key: $screen)){
       // Hợp lệ 
    //    $value kích thước màn hình mình muốn lấy được
        $value: map-get($map: $breakpoints, $key: $screen);

        @media screen and (min-width:$value){
            @content;

        }
    }
    @else{
        @warn "Màn hình không tồn tại";
    }

}