// ĐÂY LÀ PHẦN VÍ DỤ ĐỂ CODE MẪU THÔI
// .header__left{
//     display: flex;
//     .navbar-brand{
//         flex-grow: 1;
//         img{
//             width: 110px;
//         }
//     }
//     .header__cate {
//         flex-grow: 1;
//         align-self: center;
//         @include styleText($color-black-light,$fs-1,$fw-normal);
//     }
//     // xet kich thuoc cho the con flex-grow

//     // form
//     .header__form {
//         flex-grow: 5;
//         .form-control {
//             background-color: $color-gray-1;
//             border: none;
//             margin-left: 0;
//             transition: none;
//             padding: $pd-1 $pd-2;
//             &:focus {
//                 box-shadow: none;
//                 background-color: $color-white-0;
//                 border-top: 1px solid $color-gray-3;
//                 border-left: 1px solid $color-gray-3;
//                 border-bottom: 1px solid $color-gray-3
//             }
//             &:focus + .input-group-append {
//                 .input-group-text {
//                     background-color: $color-white-0;
//                     color: $color-red-0;
//                     border-top: 1px solid $color-gray-3;
//                     border-right: 1px solid $color-gray-3;
//                     border-bottom: 1px solid $color-gray-3
//                 }
//                 &:hover{
//                     .input-group-text {
//                         background-color: $color-red-0;
//                         color: $color-white-0;
//                     }
//             }
//             }
//         }
//         .input-group-append {
//             .input-group-text {
//                 background-color: $color-gray-1;
//                 color: $color-red-0;
//                 border: none;
//             }
//             &:hover{
//                     .input-group-text {
//                         background-color: $color-red-0;
//                         color: $color-white-0;
//                     }
//             }
//         }
//     }
// }
// .header__right{
//     display: flex;
//     justify-content: space-between;

//     width: 100%;
//     .nav-item{
//         .nav-link {
//             @include styleText($color-black-light,$fs-1,$fw-normal);
//             padding: 11px 12px;
//             white-space: nowrap;
//             &:hover {
//                 background-color: $color-gray-1;
//             }
//         }

//     }
//     .ude-teach {
//         .nav-link {
//          border-right: 1px solid $color-gray-6;
//          }
//     }
//     .ude-shoping-cart {
//         .nav-link {
//             // margin: 0 10px;
//             padding: 8px 10px;
//             margin: 0px 10px;
//             &:hover {
//                 background-color: $color-gray-1;
//                 border-radius: 50%;
//             }
//         }
//         // a {
//         //     display: block;
//         //     width: 45px;s
//         //     height: 45px;
//         //     line-height: 30px;

//         //     i {
//         //         font-size: $fs-2;
//         //         padding-left: - $fs-1;
//         //     }

//         // }
//     }

// }

// // REPONSIVE
// @include reponsive("extra-large"){
//     .header__right {
//         .ude-business,.ude-teach {
//             display: none;
//         }
//     }
// }
// @include reponsive("medium"){
//     .header__left{
//         .header__form,.header__cate {
//             display: none;
//         }
//         .navbar-brand {
//                 flex-grow: 0;
//         }
//     }
//     .header__right {
//         .ude-btnGroup {
//             display: none;
//         }
//     }
// }\

// CODE HERE ...

// .navbar {
//     padding-top: 0;
//     .ford_leftHeader {
//         display: flex;
//         background-color: $color-white-cream;
//         width: 100%;
//         height: 40px;
//         align-items: center;
//         padding-left: 130px;
//         .nav-item {
//             font-size: 16px;

//             .nav-link {
//                 color: midnightblue;
//             }

//             .nav-mustang {
//                 position: relative;
//                 padding-right: 20px;
//                 &::after {
//                     content: "";
//                     height: 100%;
//                     width: 1px;
//                     position: absolute;
//                     right: 0;
//                     top: 0;
//                     background-color: gray;
//                 }
//             }

//             .nav-bronco {
//                 position: relative;
//                 padding-right: 20px;
//                 &::after {
//                     content: "";
//                     height: 80%;
//                     width: 1px;
//                     position: absolute;
//                     right: 0;
//                     top: 0;
//                     background-color: gray;
//                 }
//             }
//         }
//     }
// }

// .navbar{
//     .ford_rightHeader_container{
//         background-color: $color-white-cream;
//         .ford_rightHeader{
//             display: flex;
//             align-items: center;
//             img{
//                 width: 100%;
//                 height: 25px;
//             }
//         }
//     }
// }

.container-fluid {
    padding: 0 40px;
}

.navbar {
    padding: 0;
    background-color: $color-white-cream;
    width: 100%;
    height: 40px;
    .ford_leftHeader {
        padding-left: 90px;
        display: flex;
        .ford_header_nav {
            width: 100%;
            .ford_nav_mustang{
                position: relative;
                &::after{
                    content: '';
                    margin-top: 5px;
                    height: 80%;
                    width: 1px;
                    position: absolute;
                    right: -70px;
                    top: 0;
                    background-color: gray;
                }
            }
            .ford_nav_bronco{
                position: relative;
                &::after{
                    content: '';
                    margin-top: 10px;
                    height: 50%;
                    width: 1px;
                    position: absolute;
                    right: -60px;
                    top: 0;
                    background-color: gray;
                }
            }
            .ford_nav_content {
                display: flex;
                align-items: center;
                margin-right: 70px;
                height: 100%;
                &:hover {
                    text-decoration: none;
                }
                span {
                    font-size: 12px;
                    color: #102b4e;
                }
            }
        }
    }
}

.navbar {
    .ford_rightHeader {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-right: 110px;
        &:hover {
            text-decoration: none;
        }
        .ford_rightHeader_content {
            font-size: 13px;
            color: #2861a4;
            font-weight: 700;
            img {
                width: 100%;
                height: 23px;
                margin-right: -30px;
                &:hover {
                    color: #2861a4;
                }
            }
        }
    }
}
