#intro__Picture{
    padding-top: 75px;
    width: 98%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    .ford__let{
        position: relative;
        transition: all 1s;
        img {
            width: 100%;
            display: block;
        }
        .content{
            @include styleText($color-gray-5,$fs-6,$fw-normal);
            position: absolute;
            top: 18%;
            left: 32%;
            letter-spacing: 2px;
        }
        .see_more{
            position: absolute;
            bottom: 10%;
            left: 43%;
            letter-spacing: 2px;
            a {
                @include styleText($color-gray-5,$fs-2,$fw-normal);
                text-decoration: none;
                .seemore__icon {
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    border: 1px solid white;
                    line-height: 0.5;
                    padding: 11px;
                    display: inline-block;
                    position: relative;
                    i {
                        font-size: $fs-1;
                        position: absolute;
                        top: 30%;
                        left: 30%;
                    }
                }
            }
        }
        &:hover {
            .seemore__icon {
                background-color: white;
                i{
                    color: #456f85;
                }
            }
        }
    }
    .ford_list {
        width: 98%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .item {
            transition: 0.5s;
            position: relative;
            width: 100%;
            overflow: hidden;
            .info_detail{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background: rgba(21, 101, 192, 0.71);
                font-weight: 400;
                color: #FFF;
                display: flex;
            }
            .content__Text {
                @include styleText($color-gray-5,$fs-1,$fw-normal);
                padding: 15px 5px;
                display:inline-block;
                width: 80%;
            }
            .seemore__icon {
                width: 20%;
                display: flex;
                vertical-align: middle;
                align-items: center;
                text-align: center;
                font-size: $fs-2;
                i {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    border: 1px solid white;
                    padding: 2px;
                    line-height: 1.5;
                    &:hover{
                        background-color: white;
                        color: #456f85;
                    }
                }
            }
            &:hover{
                img{
                    transform: scale(1.2);
                    
                }
            }
        }
        img {
            width: 100%;
            display: block;
            max-width: 100%;
            transition: all 0.5s;
            -webkit-transform: scale(1);
            transform: scale(1);  
        }
        .ford_item1 {
            grid-column: 1 / span 3;
            h4 {
                font-size: 3.3rem;
                text-align: center;
                line-height: 2;
            }
            p {
                color: #626466;
                font-size: 16px !important;
                font-weight: bold;
                text-align: center;
            }
        }
        .ford_item2 {
            width: 100%;
            display: block;
            overflow: hidden;
        }
        .ford_item3 {
            grid-column: 1 / span 2;
            grid-row: 2 / span 3;
            .info_detail{
                .content__Text{
                    @include styleText($color-gray-5,$fs-3,$fw-normal);
                    padding: 25px 10px;
                }
                .seemore__icon{
                    font-size: $fs-3;
                    i {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 1px solid white;
                        padding: 2px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}
#Airbag {
    padding-top: -75px;
    font-size: 42px;
    .expanded-header{
        padding: 30px 0px 50px 0px;
        h2 {
            font-size: 42px;
            text-align: center;
            line-height: 1.5;
            font-weight: 200;
            letter-spacing: 1px;
        }
        p {
            text-align: center;
        }
        p a span{
            font-size: 16px;
            padding: 8px 75px;
            font-weight: 100;
            display: block;
        }
        p a{
            margin-top: 30px;
            color: rgb(255, 255, 255); 
            background-color: rgb(217, 46, 20); 
            border-color: rgb(217, 46, 20);
            &:hover{
                color: rgb(217,46,20);
                background-color: #FFF;
            }
        }
    }
}
#Disclosures{
    .disclosures {
        margin: 20px 0px;
        .ford-btn-disclosures{
            width: 100%;
            .title-text{
                font-size: 40px;
            }
            .disclosures-up {
                display: none;
            }
        }
        span {
            color: rgba(21, 101, 192);
        }
        
    }
}