#intro__Video {
    padding: 75px 0px;
    font-family: 'Open Sans', sans-serif;
    .ford__introVideo{
        width: 80%;
        margin: 0 auto;
        .ford__content {
            width: 65%;
            margin: 0 auto;
            .ford__content_title {
                @include styleText($color-black-1,$fs-4,$fw-bold-1);
                text-align: center;
                line-height: 1.5;
            }
            .ford__plain {
                @include styleText($color-black-1,$fs-5,$fw-normal);
                text-align: center;
                line-height: 1.5;
            }
            padding-bottom: 20px;
        }
        .ford__intro__video{
            background-image: url(../img/image.jpg);
            background-repeat: no-repeat;
            width: 100%;
            height: 650px;
            background-size: 100% 100%;
            // object-fit: cover;
            position: relative;
            .btn_play {
                span{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    padding: 18px 42px;
                    line-height: 2.5;
                    background-color: $color-black-dark-1;
                    text-align: center;
                    @include styleText($color-white-0,$fs-3,$fw-normal);
                    color: white;
                    position: absolute;
                    top: 45%;
                    left: 45%;
                    transition: all 0.5s;
                }
            }
            &:hover {
                .btn_play {
                    span{
                        background-color: $color-blue;
                    }
                }
            }
        }
        
    }
   
}

